{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Password Reset Sent</h2>
      <div style="padding:30px 50px">
         <img src="{% static 'images/Email.png' %}" style="width:200px;height:200px;margin-left:150px;">
      </div>
      <div style="padding:10px 50px">
            <p>
                <b style="font-size:18px">We’ve</b> emailed you instructions for setting your password, 
                if an account exists with the email you entered. 
                You should receive them shortly.
            </p>
            <p >
                If you don’t receive an email, 
                please make sure you’ve entered the address you registered with, 
                and check your spam folder.
            </p>
      </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          {% comment %} <h2>Forgot Your Password ?</h2>
          <p>Sign up and discover great amount of new opportunities!</p> {% endcomment %}
        </div>
        
        
      </div>
      
    </div>
  </div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
            
</body>
</html>