{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Password Set</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Password Set</h2>
      <div style="padding:30px 40px">
         <img src="{% static 'images/successful-png-.png' %}" style="width:200px;height:200px;margin-left:150px;">
      </div>
      <div style="padding:10px 80px 10px 100px">
            <p>Your password has been set. You can Sign In Now 
      </div>
      {% comment %} <a href="{% url 'index' %}" style="text-decoration:none"><button class="submit" type="submit">Sign In</button></a>  {% endcomment %}
      <a href="/" style="text-decoration:none"><button class="submit" type="submit">Sign In</button></a> 
      
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          {% comment %} <h2>Forgot Your Password ?</h2>
          <p>Sign up and discover great amount of new opportunities!</p> {% endcomment %}
        </div>
        
        
      </div>
      
    </div>
  </div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
            
</body>
</html>