
    <div class="container mt-3 py-5">
    <div class="card m-auto" style="width:450px">
        <div class="card-title bg-info  p-3 text-white" >Welcome</div>
        
        <div class="card-body">
        <div class="row justify-content-center" style="height:150px">Hello {{user.get_username}}, Have a Nice Day!</div>
        <div class="row mt-4">
            <a href="/accounts/logout/" class="btn btn-danger " style="width:200px;">Sign Out</a>

        </div>
       </div>
    </div>
    </div>


