{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login & Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Sign In</h2>
      <label>
        <span>Email Address</span>
        <input type="email" name="email">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password">
      </label>
      <button class="submit" type="button">Sign In</button>
      <p class="forgot-pass">Forgot Password ?</p>

      <div class="social-media">
        <ul>
          <a href="#" <li> <img src="{% static 'images/facebook.png' %}"></li></a>
          <a href="/accounts/google/login/?process=login"<li> <img src=" {% static 'images/google.png' %} "></li></a>
        </ul>
      </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>Sign Up</h2>
        <form action= "/signup/" method="post">
            {%csrf_token%}
          <label>
          <span>Name</span>
          <input type="text" name="username" >
        </label>
        <label>
          <span>Email</span>
          <input type="email" name="email">
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password1">
        </label>
        <label>
          <span>Confirm Password</span>
          <input type="password" name="password2">
        </label>
        <button type="submit" class="submit">Sign Up Now</button>
       </form>

        <style>
    h1{
    align= 'center'
colour:#9b79b8
}
</style>

        <div class="social-media" style="margin-top:-33px">

          <ul>
            <a href="#"<li> <img src="{% static 'images/facebook.png' %}"></li></a>
            <a href="#"<li> <img src=" {% static 'images/google.png' %} "></li></a>
            
          </ul>
        </div>
      </div>c
    </div>
  </div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>